*{
    margin: 0%;
    font-family: Comfortaa, cursive;
    overflow-x: hidden;
}

:root{
    --ecriture: #232222;
    --ecriture2: #ffffff;
    --background: #ffffff;
    --background2: #232222;
}

.titre{
    background-color: var(--background);
}

h1{
    color: var(--ecriture);
    margin-left: 50px;
    margin-top: 30px;
}

details > summary {
    list-style: none
}

.nav ul{
    display: inline-flex;
    width: 100%;
    height: 50px;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--background2);
}

button{
    margin-right: 583px;
    height: 25px;
    background-color: var(--background);
    border-radius: 10px;
    cursor: pointer;
   
}

button:hover{
    background-color: violet;
}

.nav a{
    color: var(--ecriture2);
    text-decoration: none;
    padding-right: 60px;
    padding-left: 40px;
}

.nav a:hover{
    color: violet;
}

.portrait{
    height: 500px;
    width: 424px;
    margin: 0%;
    padding: 0%;
}

.clavier{
    height: 500px;
    width: 965px;
    padding: 0%;
    margin: 0%;
}

.block{
    display: flex;
    flex-direction: row;
    background-color: var(--background2);
}

#presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    padding: 70px 300px;
    font-size: 20px;
    text-align: center;
    background-color: var(--background);
}

#presentation h2{
    padding-bottom: 50px;
    color: var(--ecriture);
}

#presentation p{
    color: var(--ecriture)
}

#competences{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 100px;
    font-size: 20px;
    width: 300px;
    margin-left: 200px;
    margin-top: 30px;
    height: 500px;
    background-color: var(--background2);
    overflow-y: hidden;
}

#competences h2{
    padding-top: 48px;
    padding-bottom: 10px;
    text-decoration: underline;
    color: var(--ecriture2);
}

#competences img{
    height: 80px;
    width: 70px;
    padding: 30px;
}

#competences p{
    padding-top: 20px;
    color: var(--ecriture2);
}

#projets{
    float: right;
    background-color: var(--background2);
    width: 400px;
    height: 500px;
    margin: 30px 200px;
    font-size: 20px;
}

#projets h2{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
    text-decoration: underline;
    color: var(--ecriture2);
}

#projets h3{
    padding-bottom: 55px;
    padding-top: 10px;
    cursor: pointer;
    font-style: italic;
    text-align: center;
    font-size: 20px;
    color: var(--ecriture2);
}

#projets p{
    font-size: 15px;
    text-align: center;
    color: var(--ecriture2);
}

#projets h3:hover{
    color:violet
}

#contact{
    height: 100px;
    padding-left: 100px;
    font-size: 20px;
    background-color: var(--background);
}

#contact h2{
    padding-top: 20px;
    padding-bottom: 15px;
    color: var(--ecriture);
}

#contact span{
    color: var(--ecriture);
}

#contact a:hover{
    color:violet
}

.contact{
    font-size: 20px;
    padding-top: 50px;
    padding-left: 100px;
}

.contact h2{
    text-decoration: underline;
}

.contact p{
    padding: 40px 70px;
}

.logo{
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 300px;
    padding: 5px 300px;
    text-align: center;
}

.logo img{
    height: 150px;
    width: 150px;
}

@media (max-width: 1400px){
    
    /*cette regle ne fonctionne pas 
    .nav {
        display: flex;
        justify-content: flex-start;
        max-width: auto;
    }
    .nav a {
        padding-left: 20px;
        padding-right: 20px;
    }*/ 
    .clavier{
        width: 2000px;
    }
    .portrait{
        margin-left: 500px;
    }
    #competences{
        font-size: 20px;
        margin-left: 50px;
        margin-top: 30px;
    }   
    #competences img{
        height: 80px;
        width: 70px;
        padding: 30px;
    }
   
}

@media(max-width: 780px){
    .clavier{
        width: 2000px;
    }
    .portrait{
        margin-left: 100px;
    }
    #presentation{
        align-items: flex-start;
        padding-left: 20px;
        text-align: start;
        width: 500px;
    }
    #competences{
        font-size: 20px;
        margin-left: 50px;
        margin-top: 30px;
    }   
    #competences img{
        height: 75px;
        width: 65px;
        padding: 18px;
    }
    #projets{
        margin-left:  175px;
        margin-top: 30px;
        margin-right: auto;
    }
}